<!DOCTYPE html>
<html>
<head>
	<title>MuktiplChoice</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body ng-app="PlateGate">
<div ng-controller="SendCtrl">

Vaknaam: <input type="text" ng-model="Vaknaam"><br>
Onderwerp: <input type="text" ng-model="Onderwerp"><br>
Vraag : <input type="text" ng-model="Vraag"><br>
Antwoord1 : <input type="text" ng-model='Antwoord1'><br>
Antwoord2 : <input type="text" ng-model='Antwoord2'><br>
Antwoord3 : <input type="text" ng-model='Antwoord3'><br>
Juistantwoord : <input type="text" ng-model='Juistantwoord'>
<br>
<button ng-click="sendData()">Les Toevoegen</button>
</div>
<br>
<div ng-controller="RegisterCtrl">
E-mail : <input type="text" ng-model="Email"><br>
Username : <input type="text" ng-model="Username"><br>
Password : <input type="password" ng-model='Password'><br>
<button ng-click="Register()">Register</button>
</div>
</body>
</html>