.modal-footer {   border-top: 0px; }
 

.navbar {
  margin-top: 20px
}

#MultipleChoice {
	display: none;
}

#YesNo {
    display: none;
}

#coursediv {
	display: block;
} 

#vragenDiv {
	display: none;
}